# Ignore local configuration files
.env

# Ignore virtual environments
.venv/
env/
ENV/
env.bak/
venv.bak/

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.temp
*.swp

# Ignore system files
.DS_Store
Thumbs.db
